@font-face {
  font-family: "HeaderFont";
  src: url(/Fonts/PLANK___.TTF);
}

@font-face {
  font-family: "Body";
  src: url(/Fonts/RedHatMono-VariableFont_wght.ttf);
}     

@keyframes glow-in {
  from {
  opacity: 0;
  }
  65% {
  opacity: 1;
  text-shadow: 0 0 25px white;}
}

a {
  text-decoration: none;
}
  
h1{
  color: white;
  background: black;
  text-align: justify;
  font-family: "HeaderFont";
  margin: 10;
  white-space: pre;
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-align: center;
}

body {
  display: flex;
  font-family: "Body";
  background-color: black;
}


li {
  color: white;
}

small {
  color: white;
}

body {
 display: flex;
 flex-direction: column;
 height: 100vh;
  justify-content: center;
 align-items: center;
  
                                                      
}

.glowIn {
  color: white;
}

.glowIn span {
  animation: glow-in 0.8s both;
  text-align: center;
}

.panel {
  position: fixed;
  left: -15.625em; 
  width: 15.625em; 
}

.wrap {
 position: relative;
}

.ascii {
  text-decoration: none;
  color: #3F0; background: black;
    display:inline-block;
    white-space:pre;
    letter-spacing:0;
    line-height:1;
    font-family:'Consolas','BitstreamVeraSansMono','CourierNew',Courier,monospace;
    font: size 5px;
    
    border-width:1px;
    border-style:solid;
    border-color:black;
}